body {
    background-color: #0F0F0F;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: .2em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

header {
    color: #3EA6FF;
    text-align: center;
    margin: auto 2em;
}

div {
    color: #3EA6FF;
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    color: #FFFFFF;
    margin-right: .5em;
}

p, li {
    color: #FFFFFF;
    margin: .2em auto;
}

hr {
    color: #FFFFFF;
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1 {
    color: #0088ff;
    font-weight: 100;
    margin-bottom: 0;
}

h2 {
    color: #50adff;
    font-weight: 100;
    margin-bottom: 0;
    padding: 0em 0em 0em 0em;
}

h3 {
    color: #a8d7ff;
    font-weight: 100;
    margin-bottom: 0;
}

img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
}

#mainLeft {
    border-right: 1px solid lightgray;
}